.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
  .btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    background-color: transparent;
    color: var(--buttton-text-color);
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: var(--input-color);
    }
    &.active {
      background-color: var(--accent);
      color: var(--bg-color);
    }
  }
}
