.theme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .text {
    opacity: 0;
    scale: 0;
    font-size: 0.875rem;
    font-weight: 300;
    background-color: var(--input-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: 0.1s ease-in-out;
  }
  .icon {
    display: grid;
    place-items: center;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--section-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: var(--input-color);
    }
  }
  &:has(.icon:hover) .text {
    opacity: 1;
    scale: 1;
  }
}
